{% extends '../base/templates/page.twig' %}

{% block content %}
    <canvas id="scene" width="1000" height="600"></canvas>

    <div class="buttons">
        <button class="random-organisms">Init random organisms</button>
    </div>
{% endblock %}
